extends layouts/default

block vars
  -
    const page = {
      title: 'balance',
      order: 2,
      isAuth: true
    };




block main
  .main__content
    include partials/_topbar

    .page
      .container.page__container
        .page__title
          h1.page__title-h1 Баланс аккаунта


        .mini-content
          .white-block
            form.form-style.balans
              .form-style__label.form-style__label--m-flex
                | Текущий баланс:
                span.balans__value 150 руб.
              .balans__form
                label.input-block
                  input.mask-rub(type="text" name="" required="required", value="1200" )
                  span.input-block__placeholder Сумма пополнения
                button.btn(type="submit") Пополнить баланс
              .bank
                .bank__link
                  a.js-bank-toggle(href="javascript:;") Пополнить баланс по безналичному переводу
                .bank__content
                  .bank__table
                    .bank__row
                      .bank__td Расчётный счёт:
                      .bank__td 40702810710000898401
                    .bank__row
                      .bank__td Корреспондентский счёт:
                      .bank__td 30101810145250000974
                    .bank__row
                      .bank__td БИК:
                      .bank__td 044525974
                    .bank__row
                      .bank__td ИНН:
                      .bank__td 9705144209
                    .bank__row
                      .bank__td КПП:
                      .bank__td 772301001
                    .bank__row
                      .bank__td Наименование банка:
                      .bank__td Банк АО «Тинькофф Банк»
                    .bank__row
                      .bank__td Наименование получателя:
                      .bank__td ООО «ГЕТТЗАП»
                    .bank__row
                      .bank__td Назначение платежа:
                      .bank__td Перечисление денежных средств на лицевой счёт 15 на основании оферты ООО «ГЕТТЗАП»
          .white-block
            .form-style
              .form-style__label.form-style__label--large История операций
              .balans-table
                .balans-table__row
                  .balans-table__left
                    .balans-table__icon
                    .balans-table__date
                      | 04.09.2020;
                      span 11:32
                    .balans-table__info Заявка №00000012
                    .balans-table__method Списание с ЛС
                  .balans-table__right
                    .balans-table__value.balans-table__value--minus - 30 руб.
                .balans-table__row
                  .balans-table__left
                    .balans-table__icon
                    .balans-table__date
                      | 04.09.2020;
                      span 11:32
                    .balans-table__info Пополнение баланса
                    .balans-table__method Оплата по счёту
                  .balans-table__right
                    .balans-table__value.balans-table__value--plus + 30 руб.
                .balans-table__row
                  .balans-table__left
                    .balans-table__icon
                    .balans-table__date
                      | 04.09.2020;
                      span 11:32
                    .balans-table__info Заявка №00000012
                    .balans-table__method Списание с ЛС
                  .balans-table__right
                    .balans-table__value.balans-table__value--minus - 30 руб.
                .balans-table__row
                  .balans-table__left
                    .balans-table__icon
                    .balans-table__date
                      | 04.09.2020;
                      span 11:32
                    .balans-table__info Пополнение баланса
                    .balans-table__method Оплата картой
                  .balans-table__right
                    .balans-table__value.balans-table__value--plus + 30 руб.


      include partials/_footer